<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL_BanVeXe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DAL_BanVeXe.Properties.Settings.XEKHACHConnectionString"
            connectionString="Data Source=DESKTOP-2FGDGJI\SQLEXPRESS;Initial Catalog=XEKHACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_BanVeXe.Properties.Settings.QLXEKHACHConnectionString"
            connectionString="Data Source=DESKTOP-2FGDGJI\SQLEXPRESS;Initial Catalog=QLXEKHACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAL_BanVeXe.Properties.Settings.DB_XEKHACHConnectionString"
            connectionString="Data Source=DESKTOP-2FGDGJI\SQLEXPRESS;Initial Catalog=DB_XEKHACH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <DAL_BanVeXe.Properties.Settings>
            <setting name="QL_PhanQuyen" serializeAs="String">
                <value>Data Source=DESKTOP-2FGDGJI\SQLEXPRESS;Initial Catalog=DB_XEKHACH;User ID=sa;Password=123456</value>
            </setting>
        </DAL_BanVeXe.Properties.Settings>
    </userSettings>
</configuration>