
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var hello = 1;
}
@model IEnumerable<DTO_BanVeXe.DTO_LichTrinh>
    
<div class="site-section bg-light">
    <div class="container">
        <div class="block-heading-1">
            <h2 style="text-align:center">TUYẾN ĐI  </h2>
        </div>
        <table style="width:100%; border: 1px solid  #ff8b00; margin-top:7px;">
            <thead style="background:#ff8b00;color:white;">
                <tr style="border-bottom: 1px solid  #ff8b00;text-align:center">
                    <th style="border-right: 1px solid  #ff8b00">STT</th>
                    <th  style="border-right: 1px solid  #ff8b00">Nơi đi</th>
                    <th  style="border-right: 1px solid  #ff8b00">Nơi đến</th>
                    <th style="border-right: 1px solid  #ff8b00">Loại xe</th>
                    <th style="border-right: 1px solid  #ff8b00">Quãng đường</th>
                    <th style="border-right: 1px solid  #ff8b00">Thời Gian</th>
                    <th>Giá vé</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewData["lichtrinh"] as List<DTO_BanVeXe.DTO_LichTrinh>)
                {
                <tr style="color:black;border-bottom: 1px solid  #ff8b00; padding: 12px;">
                    <td style="border-right: 1px solid  #ff8b00; text-align:center">@hello</td>
                    <td style="border-right: 1px solid  #ff8b00">&emsp;@item.TenNoiDi</td>
                    <td style="border-right: 1px solid  #ff8b00">&emsp;@item.TenNoiDen</td>
                    <td style="border-right: 1px solid  #ff8b00">&emsp;@item.TenLoaiXe</td>
                    <td style="border-right: 1px solid  #ff8b00; text-align:center">@item.KhoangCach km</td>
                    <td style="border-right: 1px solid  #ff8b00;text-align:center">@item.SoGioChay giờ</td>
                    <td style="border-right: 1px solid  #ff8b00;text-align:center">@item.DonGia VNĐ</td>
                   
                </tr>
                    hello++;
                }
            </tbody>
        </table>
    </div>
</div>

