
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminHome/Index.cshtml";
}


<div>hello</div>
<div>
        <form id="form" method="post">
            <input id="id" style="display : none" />
            <input name="cmnd" />
            <input name="email" />
            <input name="hoten" />
            <input name="diachi" />
            <input name="sdt" />
            <button type="submit">Cập nhật</button>
        </form>
</div>
