
@{
    ViewBag.Title = "CreateDD";
    Layout = "~/Areas/Admin/Views/AdminHome/Index.cshtml";
}

<style>
    span {
        margin-left: 100px;
    }

    input {
        margin-bottom: 20px;
    }
</style>
<section class="p-t-20" style="height:585px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">THÊM ĐỊA ĐIỂM ĐÓN KHÁCH</h3>
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2" style="text-align:center">
                        <form id="form" method="post">
                            <input id="id" style="display : none" />
                            <div class="table-data__tool-right" style="margin-bottom:15px;">
                                <span class="col-md-3"></span>
                                <span class="col-md-2">Tuyến đi:&nbsp;</span>
                                <span class="col-md-4" style="margin-left:61px">
                                    <select id="tuyendi" class="au-input au-input--xl" name="tuyendi" style="height:48px">
                                        <option value="-1" disabled selected>Chọn tuyến đi</option>
                                        @foreach (var item in ViewData["tuyendi"] as List<DAL_BanVeXe.TUYENDI>)
                                        {
                                            <option value="@item.ID">@item.TENTUYEN</option>
                                        }
                                    </select>
                                    <input id="tuyendiSelect" name="tuyendiSelect" style="display:none" />
                                </span>
                                <span class="col-md-3"></span>
                            </div>
                            <div class="table-data__tool-right">
                                <span class="col-md-3"></span>
                                <span class="col-md-2">Tên địa điểm:&nbsp;</span>
                                <span class="col-md-4" style="margin-left:26px">
                                    <input maxlength="12" required class="au-input au-input--xl" name="tendd" placeholder="Nhập tên địa điểm đón khách" />
                                </span>
                                <span class="col-md-3"></span>
                            </div>

                            <br />
                            <div class="table-data__tool-right" style="text-align:center;">
                                <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <a style="color:white" href='@Url.Action("Index", "DiemDon")'>
                                        <i class="zmdi zmdi-long-arrow-left"></i> &nbsp;Quay lại
                                    </a>
                                </button>
                                <button type="submit" class="au-btn au-btn-icon au-btn--green au-btn--small">
                                    <i class="zmdi zmdi-plus"></i>Thêm
                                </button>
                            </div>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $('#tuyendi').change(function () {
            console.log($('#tuyendiSelect').val())
            document.getElementById('tuyendiSelect').value = $('#tuyendi').val();
        });
    });
</script>

